*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --bg-clr: #333;
  --clr: white;
  --hamBar-width: 40px;
  --hamBar-height: 5px;
  --hamBar-gap: 4px;
  --ham-toggle-height: calc(var(--hamBar-height) * 3 + var(--hamBar-gap) * 2);
  --transition-type: 200ms ease-in-out;
  --accent-clr: rgb(255, 0, 128);
}
body {
  overflow-x: hidden;
}
.layout {
  max-width: 1600px;
  margin: 0 auto;
  height: inherit;
}
/* header style starts */
header {
  height: 5rem;
  background-color: var(--bg-clr);
  color: var(--clr);
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
  font-size: 1.2rem;
  box-shadow: 0 0.5px 2px var(--accent-clr);
}
.flex-container {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
.logo {
  font-size: 1.4rem;
  width: 20%;
  font-style: oblique;
}
.logo span {
  color: var(--accent-clr);
}
nav {
  width: 50%;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition-type);
}
nav ul a:hover {
  color: var(--accent-clr);
}
.hamburger-toggle {
  display: flex;
  flex-direction: column;
  gap: var(--hamBar-gap);
}
.hamburger-toggle::before,
.hamburger-toggle::after,
.hamburger-toggle input {
  content: "";
  width: var(--hamBar-width);
  height: var(--hamBar-height);
  background-color: var(--clr);
  border-radius: 100vw;
  transform-origin: left center;
  transition: opacity var(--transition-type), width var(--transition-type),
    rotate var(--transition-type), translate var(--transition-type),
    background-color var(--transition-type);
}
.hamburger-toggle input {
  appearance: none;
  outline: none;
}
.hamburger-toggle input:checked {
  opacity: 0;
  width: 0;
  background-color: var(--accent-clr);
}
.hamburger-toggle:has(input:checked)::before {
  rotate: 45deg;
  width: calc(var(--ham-toggle-height) * 1.41421356237);
  translate: 0 calc(var(--hamBar-height) / -2);
  background-color: var(--accent-clr);
}
.hamburger-toggle:has(input:checked)::after {
  rotate: -45deg;
  width: calc(var(--ham-toggle-height) * 1.41421356237);
  translate: 0 calc(var(--hamBar-height) / 2);
  background-color: var(--accent-clr);
}
.hamburger-toggle {
  display: none;
}

/* home section starts here */
.home {
  max-width: 100vw;
  padding-inline: 2em;
  height: inherit;
  background-image: url(./assets/roller-coaster.jpg);
  background-size: cover;
  background-position: center top;
}
.home-flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 9em;
  /* min-height:calc(100vh - 5.3rem); */
}
.home-flex-container .home-content {
  flex-basis: 40%;
  font-size: 1.5rem;
  color: var(--clr);
}
.home-flex-container .home-content h1 {
  padding-bottom: 1rem;
  text-shadow: 2px 4px 5px rgb(152, 8, 152);
}
.home-flex-container .home-content p {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.btn {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
}
button {
  background-color: transparent;
  border: 2px solid var(--accent-clr);
  padding: 0.8em 1.6em;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  color: var(--clr);
}
.fill {
  background-color: var(--accent-clr);
}
.fill:hover {
  box-shadow: 2px 0px 10px var(--accent-clr);
}
.transparent {
  background-color: var(--bg-clr);
}
.transparent:hover {
  background-color: var(--accent-clr);
}
.home-flex-container .baloon {
  flex-basis: 40%;
  display: flex;
  justify-content: right;
  animation-name: up-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2.5em);
  }
}
/* home section ends here */
.about {
  max-width: 100vw;
  /* min-height:90vh;    */
  padding-inline: 2em;
  padding-block: 2em;
  background-color: black;
  color: var(--clr);
  box-shadow: 0px 2px 4px var(--accent-clr);
}
.about h2 {
  padding-top: 3em;
  text-align: center;
  color: var(--accent-clr);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.split-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.left {
  flex-basis: 40%;
  height: 100%;
}
.right {
  flex-basis: 40%;
  height: 100%;
  padding-top: 2.5%;
}
.right h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.right h3,
.right p {
  padding-bottom: 0.8em;
}
/* about section ends heere */

/* kids activity section */

.kids-activity {
  /* min-height: 80vh; */
  padding-block: 2em;
  background-color: orange;
  overflow: hidden;
  text-align: center;
}
.kids-content {
  padding-top: 2em;
}
.kids-content h2,
.kids-content h3 {
  font-size: 1.6em;
  padding-bottom: 0.6em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.kids-content p {
  font-size: 1.2rem;
}
.kids-activity .btn {
  display: flex;
  justify-content: center;
}

.kids-activity .train img {
  animation-name: move;
  animation-duration: 1500ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes move {
  from {
    transform: translateX(calc(100vw - 50%));
  }
  to {
    transform: translateX(calc(50% - 100vw));
  }
}
/* kids section ends here */
.rides {
  /* min-height: 90vh; */
  background-color: black;
  color: var(--clr);
  padding-block: 5em;
  padding-inline: 2em;
}
.rides h2 {
  text-align: center;
  padding-top: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--accent-clr);
}
.rides .split-flex {
  height: 90%;
  align-items: center;
}
.rides .left img {
  /* width:90%; */
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
i {
  color: var(--accent-clr);
}
/* rides section ends  */
.fixed,
.fixed2 {
  max-width: 100vw;
  /* height:90vh; */
  padding-block: 18em;
  /* background:orange; */
  background-image: url(./assets/view-2.jpg);
  /* background-blend-mode:luminosity; */
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fixed2 {
  /* height: 70vh; */
  padding-block: 8em;
  background-position: bottom;
}
.flex-numbers {
  display: flex;
  height: inherit;
  justify-content: space-evenly;
  gap: 2em;
  align-items: center;
  flex-wrap: wrap;
  color: var(--clr);
  font-size: 2em;
  line-height: 2em;
  text-shadow: 2px 10px 2px var(--bg-clr);
}
/* fixed sec ends here */
.gallery {
  background-color: orange;
  max-width: 100vw;
  padding-block: 5em;
}
.gallery h2 {
  font-size: 2.5em;
  text-align: center;
  /* padding-top: 2em; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.gallery-container {
  padding-block: 2em;
  padding-inline: 2em;
  /* min-height:90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-box {
  height: 260px;
  width: 260px;
  rotate: 45deg;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  border: 5px groove var(--accent-clr);
  overflow: hidden;
}
.gallery-box img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  rotate: -45deg;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  border: 5px dotted var(--accent-clr);
  overflow: hidden;
  transition: var(--transition-type);
}
.gallery-box img:hover {
  transform: scale(1.2);
}
/* 2nd fixed image section */
.fixed2-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr);
  font-size: 1.2em;
  line-height: 1.2em;
}
.fixed2-flex h2 {
  padding-bottom: 1em;
}
.fixed2-flex p {
  width: 60%;
  text-align: center;
  text-shadow: 2px 4px 4px var(--bg-clr);
}
/* 2nd fixed img sec ends here */
/* wheel section */
.wheel {
  background-color: orange;
}
.wheel-flex {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: 1.4em;
}
.wheel-flex img {
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.wheel-flex p {
  padding-top: 1.2em;
}
.wheel-flex .btn {
  padding-top: 1em;
}
@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}
.form-sec {
  background-image: url(./assets/merry-go.avif);
  background-size: cover;
  background-position: center;
}
.form-sec .form-wrapper {
  display: flex;
  color: var(--clr);
  padding-block: 2em;
  max-width: 100vw;
  padding-block: 5em;
  /* min-height: 100vh; */
  flex-wrap: wrap;
  /* background-color: aliceblue; */
  justify-content: center;
  align-items: center;
}
.form-left {
  height: 500px;
  width: 400px;
  background-color: black;
}
.form-left form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}
form input,
form textarea {
  padding: 0.3rem;
  font-size: 1.1rem;
  outline: 1px solid orange;
  outline-offset: 0.12rem;
}
form button {
  padding: 0.7rem 3rem;
}
form button:hover {
  background-color: var(--accent-clr);
}
::placeholder {
  color: var(--bg-clr);
}
.form-left form h2,
.loction-wrapper h2 {
  font-size: 2rem;
  color: orange;
  padding-top: 1em;
}
.form-right {
  height: 500px;
  width: 400px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loction-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  row-gap: 1.5em;
  color: black;
  font-size: 1.1rem;
}
.loction-wrapper h2 {
  color: black;
  text-align: center;
}
.loction-wrapper button {
  padding: 0.7rem 2rem;
  margin-top: -1.5rem;
}
/* footer */
footer {
  background-color: black;
  color: var(--clr);
}
.footer-flex {
  padding-block: 2em;
  padding-inline: 2em;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}
footer h3 {
  font-size: 2em;
}
footer ul {
  list-style-type: none;
  padding-top: 1em;
}
footer li {
  padding-top: 1.5em;
}
footer a {
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  padding-left: 0.8rem;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
}
.copy-rights {
  border-top: 2rem solid var(--bg-clr);
  padding-block: 1em;
  padding-inline: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 1.5rem;
}
.copy-rights span {
  color: var(--accent-clr);
}
/* media queries */
@media only screen and (max-width: 975px) {
  .footer-flex {
    gap: 5em 15em;
  }
}
@media only screen and (max-width: 850px) {
  .home-flex-container .home-content {
    font-size: 1.2rem;
  }
  .home-flex-container .home-content h1 {
    font-size: 2rem;
  }
  .home-flex-container .home-content p {
    font-size: 1.1rem;
  }
  header {
    font-size: 1.2rem;
  }
  .logo {
    font-size: 1.4rem;
  }
  button {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
  }
  footer h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .hamburger-toggle {
    display: flex;
  }
  nav {
    position: absolute;
    top: 5.2rem;
    right: 0.1rem;
    z-index: 500px;
    height: calc(100vh - 5.45rem);
    display: none;
    width: 50%;
    animation-name: right-left;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    background-color: var(--bg-clr);
    color: var(--clr);
    outline: 1px solid var(--accent-clr);
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    height: inherit;
  }
  nav ul a {
    color: inherit;
  }
  nav ul a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.2rem;
  }
  .hamburger-toggle:has(input:checked) ~ nav {
    display: block;
    /* animation-name: right-left;
    animation-duration: 1s linear; */
  }
  @keyframes right-left {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }
  .home-flex-container .baloon img {
    width: 300px;
  }
  .split-flex .left img {
    width: 350px;
  }
  .kids-activity .train img {
    width: 400px;
    height: auto;
  }
  .copy-rights {
    font-size: 1.2rem;
  }
  .flex-numbers {
    font-size: 1.45rem;
  }
}

@media only screen and (max-width: 650px) {
  :root {
    --hamBar-height: 3px;
  }
  .home-flex-container {
    padding-block: 3em;
    flex-direction: column;
    align-items: flex-start;
  }
  .split-flex {
    flex-direction: column-reverse;
    align-items: center;
  }
  .rides h2 {
    padding-bottom: 1em;
  }
  .wheel-flex {
    flex-direction: column;
  }
  .wheel-flex img {
    width: 280px;
  }
  .home-flex-container .home-content {
    font-size: 1rem;
  }
  .home-flex-container .home-content h1 {
    font-size: 1.8rem;
  }
  .home-flex-container .home-content p {
    font-size: 1rem;
  }
  header {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  .copy-rights {
    font-size: 0.8rem;
    word-spacing: 0.3em;
  }
}

@media only screen and (max-width: 470px) {
  .home-flex-container .home-content {
    font-size: 0.9rem;
  }
  .home-flex-container .home-content h1 {
    font-size: 1.4rem;
  }
  .home-flex-container .home-content p {
    font-size: 0.9rem;
  }
  header {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.1rem;
  }
  button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
  .about h2 {
    font-size: 1.2rem;
  }
  .about .right h3 {
    font-size: 1rem;
  }
  .about .right p {
    font-size: 0.8rem;
  }
  .rides h2 {
    font-size: 1.2rem;
  }
  .rides .right h3 {
    font-size: 1rem;
  }
  .rides .right p {
    font-size: 0.8rem;
  }
  .home-flex-container .baloon img {
    width: 200px;
  }
  .kids-content h2,
  .kids-activity h3 {
    font-size: 1rem;
  }
  .kids-content p {
    font-size: 0.8rem;
  }
  .split-flex .left img {
    width: 280px;
  }
  .kids-activity .train img {
    width: 300px;
    height: auto;
  }
  .wheel-flex {
    font-size: 1rem;
  }
  .wheel-flex img {
    width: 200px;
  }
  .gallery h2 {
    font-size: 1.78rem;
  }
  .flex-numbers {
    flex-direction: column;
    text-align: center;
  }
  .fixed2-flex {
    font-size: 1rem;
  }
  .form-left form h2,
  .loction-wrapper h2 {
    font-size: 1.3rem;
  }
  .form-left form input,
  .form-left form textarea {
    font-size: 0.8rem;
  }
  .form-left footer h3 {
    font-size: 1.2rem;
  }
  footer ul a {
    font-size: 0.9rem;
  }
  .copy-rights {
    font-size: 0.7rem;
    border-top: 2em solid var(--bg-clr);
  }
}
